<% if(locals.message) { %>
<p><%= message %></p>
<% } %>

<form method="POST" action="/dances/<%= dance.id %>">
  <input type="hidden" name="_method" value="PUT">
<div class="field">
  <div class="control">
    <label class="title is-3">Dance Name</label>
    <input class="input" type="text" name="name" value="<%= dance.name %>">
  </div>
</div>
<div class="field">
  <div class="select">
    <label class="title is-3">Name of genre</label>
    <select  name="genre">
      <% genres.forEach((genre) => { %>
        <option value="<%= genre.id %>"><%= genre.name %></option>
      <% }) %>
    </select>
  </div>
</div>
<br>
  <div class="field">
    <div class="control">
      <label class="title is-3">Description</label>
      <input class="input" type="text" name="description" value="<%= dance.description %>">
    </div>
  </div>
  <button class="button">Update</button>
</form>
